
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>PeraFIBRO | Fibrobeton</title>

    <meta name="description" content="" />

    <link rel="icon" type="image/x-icon" href="~/Gp/Gp/pics/fibroFavicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <link rel="stylesheet" href="~/sneat-1.0.0/assets/vendor/fonts/boxicons.css" />


    <link rel="stylesheet" href="~/sneat-1.0.0/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/sneat-1.0.0/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/sneat-1.0.0/assets/css/demo.css" />

    <link rel="stylesheet" href="~/sneat-1.0.0/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="~/sneat-1.0.0/assets/vendor/libs/apex-charts/apex-charts.css" />

    <script src="~/sneat-1.0.0/assets/vendor/js/helpers.js"></script>

    <script src="~/sneat-1.0.0/assets/js/config.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</head>

<body>

    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">


            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="/Login/Departmanlar" class="app-brand-link">
                        <img src="~/Gp/Gp/pics/fibroFavicon.png" style="margin-left:-20px;max-width:24px" />
                        <span class="d-none d-lg-block" style="color: #012970;font-size:25px;font-family:sans-serif;font-weight:bold;padding-left:5px">PortalFibrobeton</span>

                    </a>

                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <!-- Dashboard -->
                    @*<li class="menu-item active">
                            <a href="/TestMerkezi/AddTest" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                                <div data-i18n="Analytics">Yeni Test</div>
                            </a>
                        </li>*@
                    <li class="menu-item">
                        <a href="javascript:void(0)" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-copy"></i>
                            <div data-i18n="Olgunluk">Olgunluk</div>
                        </a>

                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="/Olgunluk/HomePageOlgunluk" class="menu-link">
                                    <div data-i18n="Olgunluk">Ana Sayfa</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/Olgunluk/AddTest" class="menu-link">
                                    <div data-i18n="Olgunluk">Test Ekle</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/Olgunluk/OlgunlukRaporlari" class="menu-link">
                                    <div data-i18n="Olgunluk">Olgunluk Raporları</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </aside>

            <div class="layout-page">
                @RenderBody()
            </div>
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <script src="~/sneat-1.0.0/assets/vendor/js/bootstrap.js"></script>
    <script src="~/sneat-1.0.0/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="~/sneat-1.0.0/assets/vendor/js/menu.js"></script>

    <script src="~/sneat-1.0.0/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <script src="~/sneat-1.0.0/assets/js/main.js"></script>

    <script src="~/sneat-1.0.0/assets/js/dashboards-analytics.js"></script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>


    <script>

        //Menu Aktif Rengi
        document.addEventListener("DOMContentLoaded", function () {
            const menuItems = document.querySelectorAll(".menu-item");

            menuItems.forEach(item => {
                const link = item.querySelector('a.menu-link');
                const submenuLinks = item.querySelectorAll('.menu-sub .menu-item a.menu-link');

                if (link.getAttribute('href') === window.location.pathname) {
                    item.classList.add('active');
                } else if (submenuLinks.length) {
                    submenuLinks.forEach(subLink => {
                        if (subLink.getAttribute('href') === window.location.pathname) {
                            item.classList.add('active');
                        }
                    });
                } else {
                    item.classList.remove('active');
                }
            });
        });
    </script>
</body>




</html>

