
@{
    ViewBag.Title = "GecmisKayitEkleme";
    Layout = "~/Views/Shared/CncLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
</head>


@using (Html.BeginForm("GecmisKayitEkleme", "CncHome", FormMethod.Post)) 
 {


<div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Kayıt Bilgileri</h5>
                <div class="row align-items-center">
                    <div class="col-md-10">
                        <label class="m-t-20">Tarih</label>
                        <div class="input-group">
                            <input type="text" style="cursor:pointer" autocomplete="off" class="form-control datepicker" name="tarih" id="dp1" /><button class="btn disabled" style="background-color: #0094ff;border:none;color:white;cursor:default"><i class="ri-calendar-line"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-10 mt-3">
                        <label class="m-t-20">Makine Adı</label>
                        <select class="form-control" name="makine">
                            <option selected="selected"></option>
                            <option>MN01</option>
                            <option>MN02</option>
                            <option>CMA03</option>
                            <option>CMA04</option>
                            <option>CMA05</option>
                            <option>CMA06</option>
                            <option>CMA07</option>
                            <option>CMA08</option>
                        </select>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-10 mt-3">
                        <label class="m-t-20">Çalışma Süresi (milisaniye)</label>
                        <div class="input-group">
                            <input type="text" autocomplete="off" class="form-control" name="ms" />
                        </div>
                    </div>
                </div>
                <br />
                @if (TempData["successAdd"] != null)
                {
                    <div class="alert alert-success">@TempData["successAdd"].ToString()</div>
                }
                @if (TempData["errorAdd"] != null)
                {
                    <div class="alert alert-danger">@TempData["errorAdd"].ToString()</div>
                }
                <button type="submit" style="margin-left:170px;" class="btn btn-primary">Kaydet</button>

            </div>
        </div>
    </div>
 }



<script>

    $(function ($) {
        $.fn.datepicker.dates['tr'] =
        {
            days: ["Pazar", "Pazartesi", "Salı", "Çarşamba", "Perşembe", "Cuma", "Cumartesi", "Pazar"],
            daysShort: ["Pz", "Pzt", "Sal", "Çrş", "Prş", "Cu", "Cts", "Pz"],
            daysMin: ["Pz", "Pzt", "Sa", "Çr", "Pr", "Cu", "Ct", "Pz"],
            months: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
            monthsShort: ["Oca", "Şub", "Mar", "Nis", "May", "Haz", "Tem", "Ağu", "Eyl", "Eki", "Kas", "Ara"],
            today: "Bugün",
        };
    });

    $(function () {

        today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate() - 1);

        $('#dp1').datepicker({
            endDate: today,
            autoclose: true,
            format: 'dd-mm-yyyy',
            language: "tr",

        })
    });
</script>